ilevak_zadaca_2/ilevak_zadaca_2/ilevak_zadaca_2/ilevak_zadaca2_3/src/wsdl/localhost_8084/ilevak_zadaca_2_1/Zadaca2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.ilevak.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.ilevak.nwtis.foi.org/" name="Zadaca2">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.ilevak.nwtis.foi.org/" schemaLocation="http://localhost:8084/ilevak_zadaca_2_1/Zadaca2?xsd=1"/>
</xsd:schema>
</types>
<message name="dajAerodromeNaziv">
<part name="parameters" element="tns:dajAerodromeNaziv"/>
</message>
<message name="dajAerodromeNazivResponse">
<part name="parameters" element="tns:dajAerodromeNazivResponse"/>
</message>
<message name="poletjeliAvioniAerodromi">
<part name="parameters" element="tns:poletjeliAvioniAerodromi"/>
</message>
<message name="poletjeliAvioniAerodromiResponse">
<part name="parameters" element="tns:poletjeliAvioniAerodromiResponse"/>
</message>
<message name="dajMojAerodromIcao">
<part name="parameters" element="tns:dajMojAerodromIcao"/>
</message>
<message name="dajMojAerodromIcaoResponse">
<part name="parameters" element="tns:dajMojAerodromIcaoResponse"/>
</message>
<message name="azurirajKorisnika">
<part name="parameters" element="tns:azurirajKorisnika"/>
</message>
<message name="azurirajKorisnikaResponse">
<part name="parameters" element="tns:azurirajKorisnikaResponse"/>
</message>
<message name="dajAerodromeDrzava">
<part name="parameters" element="tns:dajAerodromeDrzava"/>
</message>
<message name="dajAerodromeDrzavaResponse">
<part name="parameters" element="tns:dajAerodromeDrzavaResponse"/>
</message>
<message name="provjeraKorisnika">
<part name="parameters" element="tns:provjeraKorisnika"/>
</message>
<message name="provjeraKorisnikaResponse">
<part name="parameters" element="tns:provjeraKorisnikaResponse"/>
</message>
<message name="provjeriMojAerodromIcao">
<part name="parameters" element="tns:provjeriMojAerodromIcao"/>
</message>
<message name="provjeriMojAerodromIcaoResponse">
<part name="parameters" element="tns:provjeriMojAerodromIcaoResponse"/>
</message>
<message name="dajKorisnikeAerodroma">
<part name="parameters" element="tns:dajKorisnikeAerodroma"/>
</message>
<message name="dajKorisnikeAerodromaResponse">
<part name="parameters" element="tns:dajKorisnikeAerodromaResponse"/>
</message>
<message name="najvecaVisinaLetaAviona">
<part name="parameters" element="tns:najvecaVisinaLetaAviona"/>
</message>
<message name="najvecaVisinaLetaAvionaResponse">
<part name="parameters" element="tns:najvecaVisinaLetaAvionaResponse"/>
</message>
<message name="dajAerodromeKorisnika">
<part name="parameters" element="tns:dajAerodromeKorisnika"/>
</message>
<message name="dajAerodromeKorisnikaResponse">
<part name="parameters" element="tns:dajAerodromeKorisnikaResponse"/>
</message>
<message name="dodajMojAerodrom">
<part name="parameters" element="tns:dodajMojAerodrom"/>
</message>
<message name="dodajMojAerodromResponse">
<part name="parameters" element="tns:dodajMojAerodromResponse"/>
</message>
<message name="dodajKorisnika">
<part name="parameters" element="tns:dodajKorisnika"/>
</message>
<message name="dodajKorisnikaResponse">
<part name="parameters" element="tns:dodajKorisnikaResponse"/>
</message>
<message name="dajKorisnike">
<part name="parameters" element="tns:dajKorisnike"/>
</message>
<message name="dajKorisnikeResponse">
<part name="parameters" element="tns:dajKorisnikeResponse"/>
</message>
<portType name="Zadaca2">
<operation name="dajAerodromeNaziv">
<input wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/dajAerodromeNazivRequest" message="tns:dajAerodromeNaziv"/>
<output wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/dajAerodromeNazivResponse" message="tns:dajAerodromeNazivResponse"/>
</operation>
<operation name="poletjeliAvioniAerodromi">
<input wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/poletjeliAvioniAerodromiRequest" message="tns:poletjeliAvioniAerodromi"/>
<output wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/poletjeliAvioniAerodromiResponse" message="tns:poletjeliAvioniAerodromiResponse"/>
</operation>
<operation name="dajMojAerodromIcao">
<input wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/dajMojAerodromIcaoRequest" message="tns:dajMojAerodromIcao"/>
<output wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/dajMojAerodromIcaoResponse" message="tns:dajMojAerodromIcaoResponse"/>
</operation>
<operation name="azurirajKorisnika">
<input wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/azurirajKorisnikaRequest" message="tns:azurirajKorisnika"/>
<output wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/azurirajKorisnikaResponse" message="tns:azurirajKorisnikaResponse"/>
</operation>
<operation name="dajAerodromeDrzava">
<input wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/dajAerodromeDrzavaRequest" message="tns:dajAerodromeDrzava"/>
<output wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/dajAerodromeDrzavaResponse" message="tns:dajAerodromeDrzavaResponse"/>
</operation>
<operation name="provjeraKorisnika">
<input wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/provjeraKorisnikaRequest" message="tns:provjeraKorisnika"/>
<output wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/provjeraKorisnikaResponse" message="tns:provjeraKorisnikaResponse"/>
</operation>
<operation name="provjeriMojAerodromIcao">
<input wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/provjeriMojAerodromIcaoRequest" message="tns:provjeriMojAerodromIcao"/>
<output wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/provjeriMojAerodromIcaoResponse" message="tns:provjeriMojAerodromIcaoResponse"/>
</operation>
<operation name="dajKorisnikeAerodroma">
<input wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/dajKorisnikeAerodromaRequest" message="tns:dajKorisnikeAerodroma"/>
<output wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/dajKorisnikeAerodromaResponse" message="tns:dajKorisnikeAerodromaResponse"/>
</operation>
<operation name="najvecaVisinaLetaAviona">
<input wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/najvecaVisinaLetaAvionaRequest" message="tns:najvecaVisinaLetaAviona"/>
<output wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/najvecaVisinaLetaAvionaResponse" message="tns:najvecaVisinaLetaAvionaResponse"/>
</operation>
<operation name="dajAerodromeKorisnika">
<input wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/dajAerodromeKorisnikaRequest" message="tns:dajAerodromeKorisnika"/>
<output wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/dajAerodromeKorisnikaResponse" message="tns:dajAerodromeKorisnikaResponse"/>
</operation>
<operation name="dodajMojAerodrom">
<input wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/dodajMojAerodromRequest" message="tns:dodajMojAerodrom"/>
<output wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/dodajMojAerodromResponse" message="tns:dodajMojAerodromResponse"/>
</operation>
<operation name="dodajKorisnika">
<input wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/dodajKorisnikaRequest" message="tns:dodajKorisnika"/>
<output wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/dodajKorisnikaResponse" message="tns:dodajKorisnikaResponse"/>
</operation>
<operation name="dajKorisnike">
<input wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/dajKorisnikeRequest" message="tns:dajKorisnike"/>
<output wsam:Action="http://serveri.ws.ilevak.nwtis.foi.org/Zadaca2/dajKorisnikeResponse" message="tns:dajKorisnikeResponse"/>
</operation>
</portType>
<binding name="Zadaca2PortBinding" type="tns:Zadaca2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajAerodromeNaziv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="poletjeliAvioniAerodromi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajMojAerodromIcao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="azurirajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeDrzava">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="provjeraKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="provjeriMojAerodromIcao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajKorisnikeAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="najvecaVisinaLetaAviona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajMojAerodrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajKorisnike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Zadaca2">
<port name="Zadaca2Port" binding="tns:Zadaca2PortBinding">
<soap:address location="http://localhost:8084/ilevak_zadaca_2_1/Zadaca2"/>
</port>
</service>
</definitions>